{% extends 'base.html' %}
{% load participant %}
{% block title %} | 端末インポート{% endblock %}
{% block style %}
<style type="text/css">
ul.errorlist > li { padding: 3px 15px;}
</style>
{% endblock %}

{% block content %}
{% include 'participant/parts/breadcrum' with active='端末インポート' %}

<div class="page-header">
  <h1>端末インポート</h1>
</div>

{% if row_num %}
<p>ファイルの {{ row_num }} 行目の読み込み時にエラーが発生しました。</p>
{% endif %}
{% if row_errors %}
{{ row_errors }}
{% endif %}
{{ form.non_field_errors }}
<form method="post" action="" enctype="multipart/form-data" id="form">
  {% csrf_token %}
  <table class="table table-bordered">
    <colgroup>
      <col width="20%">
      <col width="80%">
    </colgroup>
    <tr>
      <th class="bg-info">CSV ファイル</th>
      <td>{{ form.file.errors }}{{ form.file }}</td>
    </tr>
  </table>
  <a href="{% url 'participant_listing' %}" class="btn btn-lg btn-primary">戻る</a>
  <button type="submit" class="btn btn-lg btn-primary">アップロード</button>
</form>

{% endblock %}

{% block script %}
<script type="text/javascript">
$(document).ready(function () {
  $("ul.errorlist > li").addClass("alert alert-danger");
});
</script>
{% endblock %}
